<div class="header">
	<div class="site-info">
		<span class="site-name"><a href="{{ "/" | relative_url }}">CA Maker</a></span>
		<ul>
			<li><a href="https://github.com/bmizepatterson/ca-maker">GitHub</a></li>
			<li><a href="{{ "/about.html" | relative_url }}">About</a></li>
		</ul>
	</div>
	{%- if page.show-nav -%}
		<ul class="nav">
			{%- for tab in site.tabs -%}
		  		{%- if page.path == tab[0] -%}<li class="active">{%- else -%}<li>{%- endif -%}
		  			<a href="{{ tab[0] | relative_url }}">{{ tab[1] }}</a>
		  		</li>
			{%- endfor -%}		  	
		</ul>
	{%- endif -%}
</div>
